# Файлы окружения (НИКОГДА не добавляйте их в Git!)
.env*

# Базы данных SQLite
*.db
*.db-journal*
*.sqlite
*.sqlite3

# Лог-файлы
*.log

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Артефакты сборки и дистрибуции
build/
dist/
*.egg-info/

# Виртуальные окружения (если используете)
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Специфичные для IDE/редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы SCons и системы локализации (gettext)
.sconsign.dblite
bot/locales/*.pot
bot/locales/**/*.mo